<!DOCTYPE html>
<html lang="en">
<head>
    <title>To  do  app</title>
    <style>
        #head{
            background-color: #1b5e20;
            color: #ffffff;
            text-align: center;
            padding: 5px;
        }
        a{
            text-decoration: none;
            color: white;
            background-color: #006064;
            border-radius: 10px;
            padding: 10px;
            font-size: 20px;
            margin: 20px;
        }
    </style>
</head>
<body bgcolor="#e8f5e9">
    <div id="head">
        <h1>To do App</h1>
    </div>
    <div style="margin:200px;">
        <center><a href="login">Login in</a><a href="register">Register</a></center>
    </div>
    <hr>
    <p align="center">
        <b>
            Developed by
        </b>
        <i>
            Cybersquare
        </i>

    </p>

    
</body>
</html>